

JABBER_JID="irc.example.com"
JABBER_PORT=5554
JABBER_PASSWORD="secret"
JABBER_SERVER="example.com"




IRC_SERVER="example.com"
IRC_PORT=7029
IRC_PASSWORD="secret"
IRC_SERVERNAME="chat.example.com"
IRC_DESCRIPTION="jabber bridge"


CHANNELS = (
    {'jabber':'#channel@chat.example.com', 'irc':'#channel'},
)
